<div class="row margin-top">
  <div class="small-12 column">
    <h2><%= t("budgets.index.finished_budgets") %></h2>

    <div id="finished_budgets">
      <% budgets.each do |budget| %>
        <div class="budget-investment clear">
          <div class="panel past-budgets">
            <h3><%= budget.name %></h3>

            <div id="budget_<%= budget.id %>_results">
              <%= link_to t("budgets.index.documentation"), "/documentacio-#{ budget.slug.split('-',-1).last() }?locale=#{I18n.locale}", class: "button" %>
              <% if can?(:read_results, budget) %>
                <%= link_to t("budgets.index.see_results"), budget_results_path(budget), class: "button" %>
              <% end %>

              <%= link_to t("budgets.results.execution_status"),
                                          budget_execution_status_path(budget.id),
                                          class: "button" %>
            </div>
          </div>
        </div>
        <% end %>
        <div class="budget-investment clear">
          <div class="panel past-budgets">
            <h3><%= t("pages.budgets.results.2016_budget_title") %></h3>

            <div id="budget_2016_results">
              <%= link_to t("budgets.index.documentation"), t("pages.budgets.documentation.2016_budget_url"), class: "button" %>
              <%= link_to t("budgets.index.see_results"), t("pages.budgets.results.2016_budget_url"), class: "button" %>
              <%= link_to t("budgets.results.execution_status"), t("pages.budgets.execution.2016_budget_url"), class: "button" %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
