<% provide :title do %>
  <%= t("layouts.header.collaborative_legislation") %> - <%= t("legislation.processes.index.filters.#{@current_filter}") %>
<% end %>

<%= render "shared/section_header", i18n_namespace: "legislation.processes.index.section_header", image: "legislation_processes" %>

<div class="row">
  <div id="legislation" class="legislation-list small-12 medium-9 column">

    <%= render 'shared/filter_subnav', i18n_namespace: "legislation.processes.index" %>

        <div class="small-12">
          <div class="callout secondary">
            <h4>
              <%= link_to t("legislation.processes.index.section_header.info_2018_text"), t("legislation.processes.index.section_header.info_2018_url") %>
            </h4>
            <hr>
            <h4>
              <%= link_to t("legislation.processes.index.section_header.info_pla_normatiu_text"), t("legislation.processes.index.section_header.info_pla_normatiu_url") %>
            </h4>
            <hr>
            <h4>
              <%= link_to t("legislation.processes.index.section_header.info_2020_text"), t("legislation.processes.index.section_header.info_2020_url") %>
              <span style="font-weight: 300"><%= t("legislation.processes.index.section_header.info_2020_date") %></span>
            </h4>
            <hr>
            <h4>
              <%= link_to t("legislation.processes.index.section_header.update_2020_1_text"), t("legislation.processes.index.section_header.update_2020_1_url") %>
              <span style="font-weight: 300"><%= t("legislation.processes.index.section_header.update_2020_1_date") %></span>
            </h4>
            <hr>
            <h4>
              <%= link_to t("legislation.processes.index.section_header.info_2021_text"), t("legislation.processes.index.section_header.info_2021_url") %>
              <span style="font-weight: 300"><%= t("legislation.processes.index.section_header.info_2021_date") %></span>
            </h4>
            <hr>
            <h4>
              <%= link_to t("legislation.processes.index.section_header.update_2021_text"), t("legislation.processes.index.section_header.update_2021_url") %>
              <span style="font-weight: 300"><%= t("legislation.processes.index.section_header.update_2021_date") %></span>
            </h4>
            <hr>
            <h4>
              <%= link_to t("legislation.processes.index.section_header.update_2021_2_text"), t("legislation.processes.index.section_header.update_2021_2_url") %>
              <span style="font-weight: 300"><%= t("legislation.processes.index.section_header.update_2021_2_date") %></span>
            </h4>
            <hr>
            <h4>
              <%= link_to t("legislation.processes.index.section_header.update_2021_3_text"), t("legislation.processes.index.section_header.update_2021_3_url") %>
              <span style="font-weight: 300"><%= t("legislation.processes.index.section_header.update_2021_3_date") %></span>
            </h4>
            <hr>
            <h4>
              <%= link_to t("legislation.processes.index.section_header.info_plan_2022_text"), t("legislation.processes.index.section_header.info_plan_2022_url") %>
              <span style="font-weight: 300"><%= t("legislation.processes.index.section_header.info_plan_2022_date") %></span>
            </h4>
            <hr>
            <h4>
              <%= link_to t("legislation.processes.index.section_header.update_2022_text"), t("legislation.processes.index.section_header.update_2022_url") %>
              <span style="font-weight: 300"><%= t("legislation.processes.index.section_header.update_2022_date") %></span>
            </h4>
            <hr>
            <h4>
              <%= link_to t("legislation.processes.index.section_header.update_2022_2_text"), t("legislation.processes.index.section_header.update_2022_2_url") %>
              <span style="font-weight: 300"><%= t("legislation.processes.index.section_header.update_2022_2_date") %></span>
            </h4>
            <hr>
            <h4>
              <%= link_to t("legislation.processes.index.section_header.info_2023_text"), t("legislation.processes.index.section_header.info_2023_url") %>
              <span style="font-weight: 300"><%= t("legislation.processes.index.section_header.info_2023_date") %></span>
            </h4>
            <hr>
            <h4>
              <%= link_to t("legislation.processes.index.section_header.update_2023_text"), t("legislation.processes.index.section_header.update_2023_url") %>
              <span style="font-weight: 300"><%= t("legislation.processes.index.section_header.update_2023_date") %></span>
            </h4>
          </div>


      <div id="section_help" class="margin" data-magellan-target="section_help">
        <p class="lead">
          <strong><%= t("legislation.processes.index.section_footer.title") %></strong>
        </p>
        <p><%= t("legislation.processes.index.section_footer.description") %></p>
        <p><%= t("legislation.processes.index.section_footer.help_text_1") %></p>
        <p><%= t("legislation.processes.index.section_footer.help_text_2",
                  org: setting['org_name']) %></p>
        <p><%= t("legislation.processes.index.section_footer.help_text_3") %></p>
      </div>
    </div>
  </div>
</div>
