<% if @custom_page.slug=='ejecucion-presupuesto-2016' %>
<div class="row margin-top">

  <div class="small-12 medium-12 column">
<div class="budgets-stats">
<div class="expanded no-margin-top padding header">
<div class="row">
<div class="small-12 column"><a class="back" href="/budgets">Volver</a>
<h2 class="margin-top">Resultados presupuestos participativos<br />
<span>Presupuestos participativos 2016</span></h2>
</div>
</div>
</div>
</div>

<p>&nbsp;</p>

<div class="row margin-top">
<div class="small-12 column">
<ul class="tabs">
	<li class="tabs-title is-active"><span class="show-for-sr">Est&aacute;s en</span> <a href="/resultados-presupuestos-participativos-2016">Resultados</a></li>
	<li class="tabs-title"><span class="show-for-sr">Est&aacute;s en</span> <a class="is-active" href="">Estado de ejecuci&oacute;n</a></li>
</ul>
</div>
</div>

<p>&nbsp;</p>

<table class="table-for-mobile" id="budget-investments-compatible">
	<thead>
		<tr>
			<th scope="col">T&iacute;tulo</th>
			<th class="text-center" scope="col">Estado de ejecuci&oacute;n</th>
			<th class="text-center" scope="col">Porcentaje de ejecuci&oacute;n</th>
		</tr>
	</thead>
	<tbody>
		<tr class="budget-investments success" id="" style="">
			<td><span class="icon-check"><span class="show-for-sr">Propuesta aceptada: </span> </span> <a href="">Pasillos verdes y primera fase del futuro bosque urbano de La Riera</a></td>
			<td class="text-center"><span>En estudio y proyecto</span></td>
			<td style="width: 17%;">
			<div style="width: 100%;  text-align: center; position: relative;">
			<div style="width: 100%; position: absolute;"><span>20%</span></div>

			<div style="width: 20%; background-color: #2dd00b;">&nbsp;</div>
			</div>
			</td>
		</tr>
		<tr class="budget-investments success" id="" style="">
			<td><span class="icon-x" style="color: red;"><span class="show-for-sr">Propuesta aceptada: </span> </span> <a href="">Iniciar la recuperaci&oacute;n del edificio de GESA y darle uso</a></td>
			<td class="text-center"><span>Actuaci&oacute;n cancelada por procedimiento judicial</span></td>
			<td style="width: 17%;">
			<div style="width: 100%;  text-align: center; position: relative;">
			<div style="width: 100%; position: absolute;"><span>0%</span></div>

			<div style="width: 0%; background-color: #2dd00b;">&nbsp;</div>
			</div>
			</td>
		</tr>
		<tr class="budget-investments success" id="" style="">
			<td><span class="icon-check"><span class="show-for-sr">Propuesta aceptada: </span> </span> <a href="">&iexcl;M&aacute;s sombra en los parques y calles de Palma, m&aacute;s juego y m&aacute;s vida!</a></td>
			<td class="text-center"><span>Estudio y proyecto</span></td>
			<td style="width: 17%;">
			<div style="width: 100%;  text-align: center; position: relative;">
			<div style="width: 100%; position: absolute;"><span>20%</span></div>

			<div style="width: 20%; background-color: #2dd00b;">&nbsp;</div>
			</div>
			</td>
		</tr>
		<tr class="budget-investments success" id="" style="">
			<td><span class="icon-check"><span class="show-for-sr">Propuesta aceptada: </span> </span> <a href="">Ampliar la red de carriles bici en Palma y dotarlos de aparcamientos para bicis</a></td>
			<td class="text-center"><span>Finalizado</span></td>
			<td style="width: 17%;">
			<div style="width: 100%;  text-align: center; position: relative;">
			<div style="width: 100%; position: absolute;"><span>100%</span></div>

			<div style="width: 100%; background-color: #2dd00b;">&nbsp;</div>
			</div>
			</td>
		</tr>
		<tr class="budget-investments success" id="" style="">
			<td><span class="icon-check"><span class="show-for-sr">Propuesta aceptada: </span> </span> <a href="">Protecci&oacute;n del espacio natural de Es Carnatge - Patrimonio de Palma</a></td>
			<td class="text-center"><span>Finalizado</span></td>
			<td style="width: 17%;">
			<div style="width: 100%;  text-align: center; position: relative;">
			<div style="width: 100%; position: absolute;"><span>100%</span></div>

			<div style="width: 100%; background-color: #2dd00b;">&nbsp;</div>
			</div>
			</td>
		</tr>
	</tbody>
</table>
</div>

</div>

<% elsif @custom_page.slug=='execucio-pressupost-2016' %>
<div class="row margin-top">

  <div class="small-12 medium-12 column">
<div class="budgets-stats">
<div class="expanded no-margin-top padding header">
<div class="row">
<div class="small-12 column"><a class="back" href="/budgets">Tornar</a>
<h2 class="margin-top">Resultats pressupostos participatius<br />
<span>Pressuposts participatius 2016</span></h2>
</div>
</div>
</div>
</div>

<p>&nbsp;</p>

<div class="row margin-top">
<div class="small-12 column">
<ul class="tabs">
	<li class="tabs-title is-active"><span class="show-for-sr">Est&agrave;s a</span> <a href="/resultats-pressuposts-participatius-2016">Resultats</a></li>
	<li class="tabs-title"><span class="show-for-sr">Est&agrave;s a</span> <a class="is-active" href="#">Estat d&#39;execuci&oacute;</a></li>
</ul>
</div>
</div>

<p>&nbsp;</p>

<table class="table-for-mobile" id="budget-investments-compatible">
	<thead>
		<tr>
			<th scope="col">T&iacute;tol</th>
			<th class="text-center" scope="col">Estat d&#39;execuci&oacute;</th>
			<th class="text-center" scope="col">Percentatge d&#39;execuci&oacute;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="budget-investments success" id="" style="">
			<td><span class="icon-check"><span class="show-for-sr">Proposta acceptada: </span> </span> <a href="">Corredors verds i primera fase del futur bosc urb&agrave; de La Riera</a></td>
			<td class="text-center"><span>En licitació</span></td>
			<td style="width: 17%;">
			<div style="width: 100%;  text-align: center; position: relative;">
			<div style="width: 100%; position: absolute;"><span>50%</span></div>

			<div style="width: 50%; background-color: #2dd00b;">&nbsp;</div>
			</div>
			</td>
		</tr>
		<tr class="budget-investments success" id="" style="">
			<td><span class="icon-x" style="color: red;"><span class="show-for-sr">Proposta acceptada: </span> </span> <a href="">Iniciar la recuperaci&oacute; de l&#39;edifici de GESA i donar-li &uacute;s</a></td>
			<td class="text-center"><span>Actuaci&oacute; cancel&middot;lada per procediment judicial </span></td>
			<td style="width: 17%;">
			<div style="width: 100%;  text-align: center; position: relative;">
			<div style="width: 100%; position: absolute;"><span>0%</span></div>

			<div style="width: 0%; background-color: #2dd00b;">&nbsp;</div>
			</div>
			</td>
		</tr>
		<tr class="budget-investments success" id="" style="">
			<td><span class="icon-check"><span class="show-for-sr">Proposta acceptada: </span> </span> <a href="">M&eacute;s ombra als parc i carrers de Palma, m&eacute;s Joc i m&eacute;s vida!</a></td>
			<td class="text-center"><span>Finalitzat</span></td>
			<td style="width: 17%;">
			<div style="width: 100%;  text-align: center; position: relative;">
			<div style="width: 100%; position: absolute;"><span>100%</span></div>

			<div style="width: 100%; background-color: #2dd00b;">&nbsp;</div>
			</div>
			</td>
		</tr>
		<tr class="budget-investments success" id="" style="">
			<td><span class="icon-check"><span class="show-for-sr">Proposta acceptada: </span> </span> <a href="">Ampliar la xarxa de carrils bici a Palma i dotar-los d&#39;aparcaments per a bicis</a></td>
			<td class="text-center"><span>Finalitzat</span></td>
			<td style="width: 17%;">
			<div style="width: 100%;  text-align: center; position: relative;">
			<div style="width: 100%; position: absolute;"><span>100%</span></div>

			<div style="width: 100%; background-color: #2dd00b;">&nbsp;</div>
			</div>
			</td>
		</tr>
		<tr class="budget-investments success" id="" style="">
			<td><span class="icon-check"><span class="show-for-sr">Proposta acceptada: </span> </span> <a href="">Protecci&oacute; de l&#39;espai natural d&#39;Es Carnatge- Patrimoni de Palma</a></td>
			<td class="text-center"><span>Finalitzat</span></td>
			<td style="width: 17%;">
			<div style="width: 100%;  text-align: center; position: relative;">
			<div style="width: 100%; position: absolute;"><span>100%</span></div>

			<div style="width: 100%; background-color: #2dd00b;">&nbsp;</div>
			</div>
			</td>
		</tr>
	</tbody>
</table>
</div>

</div>

<% elsif @custom_page.slug=='resultados-presupuestos-participativos-2016' %>
<div class="row margin-top">

  <div class="small-12 medium-12 column">
<div class="budgets-stats">
  <div class="expanded no-margin-top padding header">
    <div class="row">
      <div class="small-12 column">
        <a class="back" href="/budgets"><span class="icon-angle-left"></span>Volver</a>
        <h2 class="margin-top">
          Resultados presupuestos participativos<br>
          <span>Presupuestos participativos 2016</span>
        </h2>
      </div>
    </div>
  </div>
</div>
<br>

  <div class="row margin-top">
    <div class="small-12 column">
      <ul class="tabs">
        <li class="tabs-title is-active">
          <span class="show-for-sr">Estás en</span>
          <a class="is-active" href="#">Resultados</a>
        </li>
        <li class="tabs-title">
          <span class="show-for-sr">Estás en</span>
          <a href="/ejecucion-presupuesto-2016">Estado de ejecución</a>
        </li>
      </ul>
    </div>
  </div>

  <table class="table-for-mobile" id="budget-investments-compatible">
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th class="text-center" scope="col">Votos</th>
        <th class="text-center" scope="col">Coste total</th>
      </tr>
    </thead>
    <tbody>
      <tr class="budget-investments success" id="" style="">
        <td><span class="icon-check"><span class="show-for-sr">Proposta d&#39;inversi&oacute; acceptada: </span> </span> <a href="">Pasillos verdes y primera fase del futuro bosque urbano de La Riera</a></td>
        <td class="text-center">641</td>
        <td class="text-center">250.000 &euro;</td>
      </tr>
      <tr class="budget-investments success" id="" style="">
        <td><span class="icon-check"><span class="show-for-sr">Proposta d&#39;inversi&oacute; acceptada: </span> </span> <a href="">Iniciar la recuperación del edificio de GESA y darle uso</a></td>
        <td class="text-center">464</td>
        <td class="text-center">200.000 &euro;</td>
      </tr>
      <tr class="budget-investments success" id="" style="">
        <td><span class="icon-check"><span class="show-for-sr">Proposta d&#39;inversi&oacute; acceptada: </span> </span> <a href="">¡Más sombra en los parques y calles de Palma, más juego y más vida!</a></td>
        <td class="text-center">461</td>
        <td class="text-center">150.000 &euro;</td>
      </tr>
      <tr class="budget-investments success" id="" style="">
        <td><span class="icon-check"><span class="show-for-sr">Proposta d&#39;inversi&oacute; acceptada: </span> </span> <a href="">Ampliar la red de carriles bici en Palma y dotarlos de aparcamientos para bicis</a></td>
        <td class="text-center">456</td>
        <td class="text-center">100.000 &euro;</td>
      </tr>
      <tr class="budget-investments success" id="" style="">
        <td><span class="icon-check"><span class="show-for-sr">Proposta d&#39;inversi&oacute; acceptada: </span> </span> <a href="">Protección del espacio natural de Es Carnatge - Patrimonio de Palma</a></td>
        <td class="text-center">325</td>
        <td class="text-center">600.000 &euro;</td>
      </tr>
    </tbody>
  </table>
  </div>

</div>


<% elsif @custom_page.slug=='resultats-pressuposts-participatius-2016' %>
<div class="row margin-top">

  <div class="small-12 medium-12 column">
<div class="budgets-stats">
  <div class="expanded no-margin-top padding header">
    <div class="row">
      <div class="small-12 column">
        <a class="back" href="/budgets"><span class="icon-angle-left"></span>Tornar</a>
        <h2 class="margin-top">
          Resultats pressupostos participatius<br>
          <span>Pressuposts participatius 2016</span>
        </h2>
      </div>
    </div>
  </div>
</div>
<br>

  <div class="row margin-top">
    <div class="small-12 column">
      <ul class="tabs">
        <li class="tabs-title is-active">
          <span class="show-for-sr">Estàs a</span>
          <a class="is-active" href="#">Resultats</a>
        </li>
        <li class="tabs-title">
          <span class="show-for-sr">Estàs a</span>
          <a href="/execucio-pressupost-2016">Estat d'execució</a>
        </li>
      </ul>
    </div>
  </div>

  <table class="table-for-mobile" id="budget-investments-compatible">
    <thead>
      <tr>
        <th scope="col">T&iacute;tol</th>
        <th class="text-center" scope="col">Vots</th>
        <th class="text-center" scope="col">Cost total</th>
      </tr>
    </thead>
    <tbody>
      <tr class="budget-investments success" id="" style="">
        <td><span class="icon-check"><span class="show-for-sr">Proposta d&#39;inversi&oacute; acceptada: </span> </span> <a href="">Corredors verds i primera fase del futur bosc urb&agrave; de La Riera</a></td>
        <td class="text-center">641</td>
        <td class="text-center">250.000 &euro;</td>
      </tr>
      <tr class="budget-investments success" id="" style="">
        <td><span class="icon-check"><span class="show-for-sr">Proposta d&#39;inversi&oacute; acceptada: </span> </span> <a href="">Iniciar la recuperaci&oacute; de l&#39;edifici de GESA i donar-li &uacute;s</a></td>
        <td class="text-center">464</td>
        <td class="text-center">200.000 &euro;</td>
      </tr>
      <tr class="budget-investments success" id="" style="">
        <td><span class="icon-check"><span class="show-for-sr">Proposta d&#39;inversi&oacute; acceptada: </span> </span> <a href="">M&eacute;s ombra als parc i carrers de Palma, m&eacute;s Joc i m&eacute;s vida!</a></td>
        <td class="text-center">461</td>
        <td class="text-center">150.000 &euro;</td>
      </tr>
      <tr class="budget-investments success" id="" style="">
        <td><span class="icon-check"><span class="show-for-sr">Proposta d&#39;inversi&oacute; acceptada: </span> </span> <a href="">Ampliar la xarxa de carrils bici a Palma i dotar-los d&#39;aparcaments per a bicis</a></td>
        <td class="text-center">456</td>
        <td class="text-center">100.000 &euro;</td>
      </tr>
      <tr class="budget-investments success" id="" style="">
        <td><span class="icon-check"><span class="show-for-sr">Proposta d&#39;inversi&oacute; acceptada: </span> </span> <a href="">Protecci&oacute; de l&#39;espai natural d&#39;Es Carnatge- Patrimoni de Palma</a></td>
        <td class="text-center">325</td>
        <td class="text-center">600.000 &euro;</td>
      </tr>
    </tbody>
  </table>
  </div>

  </div>

<% else %>

<%= content_for :body_class, "custom-page" %>
<% provide :title do %><%= @custom_page.title %><% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= @custom_page.title %></h1>
    <% if @custom_page.subtitle.present? %>
      <h2><%= @custom_page.subtitle %></h2>
    <% end %>

    <%= auto_link_already_sanitized_html AdminWYSIWYGSanitizer.new.sanitize(@custom_page.content) %>
  </div>

  <% if @custom_page.print_content_flag %>
    <div class="small-12 medium-3 column">
      <%= render "/shared/print" %>
    </div>
  <% end %>

  <% if @cards.any? %>
    <div class="small-12 column">
      <%= render "shared/cards", cards: @cards %>
    </div>
  <% end %>

</div>

<% end %>
