<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url %>
<% end %>

<%= render "shared/header", header: @header %>

<main>
  <%= render "feeds" %>

  <div class="row">
    <% if @cards.any? %>
      <div class="news small-12 column">
        <%= image_tag(image_path_for("logo-noticias.svg"), width:30) %>
        <h2 class="title"><%= t("welcome.cards.title") %></h2>
        <div class="dots">&ctdot;</div>
        <%= render "shared/cards", cards: @cards %>
      </div>
    <% end %>
  </div>

  <% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
    <%= render "recommended",
                recommended_debates: @recommended_debates,
                recommended_proposals: @recommended_proposals %>
  <% end %>
</main>

<div class="steps">
  <%= render "layouts/steps" %>
</div>
